{
    "key": "file_token",    # 关键字 对应表"invoices"中的列名
    "like_match": false,    # (可选)开启模糊匹配 默认值false
    "case_insensitive": true,  # (可选)忽略大小写 默认值true
    "target": [             # 发票配置列表 List(dict) 对应关系{关键字段值}: {目标状态值}
        {
            "GFTCbcA6doL8tkxIFl0cfR7Rnue": "history_invoice",
            "CoE2bvKRxoId2lxbAyQcClKvnLg": "history_invoice"
        },
        {
            "WiFFbOTYuoGvolxj0TKcktkTnqd": "history_invoice",
            "TfkzbU55FoDr0ixHKqkcdYbQnfc": "history_invoice",
            "Jcc1bmr19oF3jBxzJgxc8HignGd": "history_invoice",
            "JNtYbrIWeomWvgxOfGUcRvtsnMe": "history_invoice",
            "CVrcblO2SoTmZLxiZl3cz3hSnBd": "history_invoice",
            "JPwrb4mBSoxy5sxwMfEccBRRnDc": "history_invoice",
            "BoctbBotzo0cZrxWeYqcadotnRg": "history_invoice",
            "Fjrgbv0BNo47pPxxuh3ce9CYnV7": "history_invoice",
            "ZhTMb5rbzo9fYMxSbmLcYFYunOh": "history_invoice"
        }
    ]
}